@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Slabo+27px&display=swap');

body {
    background-color: rgb(241, 227, 209);
}

.heading {
    text-align: center;
}

.playground-heading {
    color:red;
    font-family: 'Libre Baskerville', serif;
    font-size: 5rem;
}

.main {
    border: 3px solid gray;
    width: 55%;
    margin: 1rem auto;
}

.main div  {
    width: 200px; 
    height: 200px; 
    border: 1px solid black; 
    border-radius: 50%; 
    margin: 2rem auto
}

#red {
    border-color: red;
}

#green {
    border-color: green;
}

#blue {
    border-color: blue;
}

.footer {
    color:cornflowerblue;
    text-align: center;
    font-size: 3rem;
    font-family: 'Slabo 27px', serif;
}